.kg-item{
    background-color: khaki;
    
}
.kg-span{
    font-weight:700;
    color:brown
}
.food-heading{
    background-color: silver;
    color:orangered;
}
.container1{
    width:300px;
    border-radius:5px;
    transform:translate(50%,0);
    margin-top: 10px;;
    border:3px solid black;
    outline: 3px solid red;
    outline-offset: 5px;
}
.btn-primary{
    float:right;
}